<div class="upload-container">
  <mat-card>
    <mat-card-title>Upload Document</mat-card-title>
    <mat-card-content>
      <input type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx,.txt" />
      <div *ngIf="selectedFile" class="file-info">
        <mat-icon>description</mat-icon>
        <span>{{ selectedFile.name }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!selectedFile">Upload</button>
    </mat-card-actions>
  </mat-card>
</div>